@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.c-upload-container {
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 80px 100px 100px 100px;

    @media screen and (min-width: 1200px) {
        padding: 100px 300px 100px 300px;
    }

    @media screen and (max-width: 500px) {
        padding: 5vh 20px 5vh 20px;
    }

    @media screen and (max-height: 650px) {
        padding: 2vh 200px 2vh 200px;
    }

    p {
        text-align: center;
        color: #555;
        margin-bottom: 0;
    }
}

.c-upload-container__heading {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #000;
    letter-spacing: -0.5px;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;

    .m-color-red {
        color: #dc3545;
    }
}